a {
  text-decoration-line: none;
}
.one:link {
  color: green;
}
.two:visited {
  color: blueviolet;
}
.three:hover {
  color: coral;
  background-color: teal;
}
.four:active {
  color: red;
}
.three:visited {
  color: blueviolet;
}
/* input {
  width: 100px;
  background-color: ;
  border: 2px;
} */
p:first-child {
  color: red;
}
.input:focus {
  width: 200px;
  height: 150px;
  background-color: darkgray;
}
